<ion-header>
  <ion-toolbar>
    <ion-title>detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="note-container">
    

    <ion-item lines="none">
      <ion-textarea 
        [value]="factText" 
        readonly="true" 
        class="transparent-textarea"
      ></ion-textarea>
      <ion-button fill="clear" (click)="copyToClipboard()">
        <ion-icon name="copy-outline"></ion-icon> 
      </ion-button>
    </ion-item>

    <div class="action-buttons">
      <ion-button expand="block" color="warning" (click)="navigateToHome()">go to home</ion-button>
    </div>
  </div>
</ion-content>